body {
    margin: 0;
    background: #FFFFFF;
    height: 93vh;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.toolBarFirst {
    width: 100%;
    height: 7vh;
    background-color: rgba(9, 200, 127, 1);
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    justify-content: center;
    height: 100%;
    display: flex;
}

.navbar-right {
    display: flex;
    margin-right: 3rem;
}

.logo {
    width: 7vh;
    height: 7vh;
}

.myProfile {
    width: 90px;
    height: 30px;
    background-color: rgba(9, 200, 127, 1);
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.logOut {
    width: 90px;
    height: 30px;
    background-color: rgba(9, 200, 127, 1);
    text-align: center;
    display: flex;
    justify-content: center;
}

.arrowDown {
    width: 28px;
    height: 33px;
    margin: auto 1rem;
}

.arrowButton {
    display: none;
    z-index: 1;
}

#hamburgerMenu {
    margin-top: 52px;
    margin-left: -73px;
}

#icon {
    width: 3rem;
    height: 3rem;
    background: #FFFFFF;
    margin: auto;
    border-radius: 100%;
}

.toolBarSecond {
    /* display: flex; */
    width: 7vh;
    height: 662px;
    background-color: rgba(9, 200, 127, 1);
}

.dashboard {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 42px;
    color: #000000;
    margin: auto 1rem;
}

.projects-form {
    height: 80%;
    width: 80%;
    margin: auto;
    max-width: 75rem;
}

@media screen and (max-width: 400px) {
    .toolBarFirst {
        width: 162%;
    }
    .toolBarSecond {
        height: 1050px;
    }
}

.button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

.button:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    .button {
        display: block;
        margin: 0.2em auto;
    }
}

#rightButton {
    float: right;
}

#leftButton {
    float: left;
}

#centerButton {
    float: left;
    margin-left: 35%;
    margin-right: 30%;
}

.addModal {
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 1;
    width: 60%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 0px 4px 4px #000000;
}

.headerBackground {
    display: flex;
    position: fxed;
    justify-content: center;
    width: 60%;
    height: 20%;
    background: rgba(9, 200, 127, 1);
}

.header {
    justify-content: center;
    width: 308px;
    height: 20px;
    margin-left: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: #000000;
}